.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
padding: 10px;
}

.navbar a {
  text-decoration: none;
  padding: 10px 20px;
}

.active {
  background-color: #3b49df;
  border-radius: 30px;
  color: #ffffff;
  transition: 0.3s;
}
